<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-1.8.0.js"></script>
<script language="javascript" type="text/javascript">
   // $(function(){
   //    alert("My First Jquery Test");
   // });

setTimeout(function(){
   window.location.reload(1);
}, 250);

</script>
</head>
<body>
<p>
	{{ temp_text }}
	{% load staticfiles %}
<img src="{% static "tempSensor/image.jpeg" %}" alt="My image"/>
	<!-- {{ time }} -->

</p>

</body>
</html>

